name: Build App

on:
  push:
    tags: 
      - '*'
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        
    - name: Get build name
      id: build_name
      run: echo "VERSION=$(echo ${{ github.ref_name }} | cut -d '-' -f 1)" >> $GITHUB_OUTPUT

    - name: Get build number
      id: build_number
      run: echo "VERSION=$(echo ${{ github.ref_name }} | cut -d '-' -f 2)" >> $GITHUB_OUTPUT
      
    - run: flutter pub get

    - name: Configure Keystore for Android
      run: |
        echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > app/keystore.jks
        echo "storeFile=keystore.jks" >> key.properties
        echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
        echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
        echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
      env:
        PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
        KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
        KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
        KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
      working-directory: android

    - run: flutter build -v apk --release --split-per-abi --build-name ${{ steps.build_name.outputs.VERSION }} --build-number ${{ steps.build_number.outputs.VERSION }}
    
    - uses: actions/upload-artifact@v4
      with:
        name: app-release-apk
        path: build/app/outputs/apk/release/

  push_to_registry:
    name: Build and Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - 
        name: Check out the repo
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: thekillingtomato/homemanagement-app:latest

  pull_and_deploy_iamge:
    name: Pull image from Docker Hub and Deploy on Hetzner
    runs-on: ubuntu-latest
    needs: push_to_registry
    steps:          
      - name: Pull and Run Docker Image on Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HETZNER_HOST }}
          username: ${{ secrets.HETZNER_USER }}
          key: ${{ secrets.HETZNER_SSH_KEY }}
          passphrase: ${{ secrets.HETZNER_PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            docker compose -f home-management-all/docker-compose.yml pull home_management_web_app
            docker compose -f home-management-all/docker-compose.yml up -d
